.task {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem;
    background: var(--gray-500);
    border: 1px solid var(--gray-400);
    border-radius: 8px;
}

.task+.task {
    margin-top: 0.75rem;
}

.task label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-right: 12px;
    cursor: pointer;
    line-height: 140%;
    font-size: 0.875rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.inputNoChecked {
    color: var(--gray-100);
}

/* Hide the browser's default checkbox */
.task label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.task span {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.09375rem;
    width: 1.09375rem;
    background-color: transparent;
    border: 2px solid var(--blue);
    border-radius: 8px;
    transition: all 0.3s;

}

/* On mouse-over, add a blue background color */
.task label:hover input~span {
    background-color: var(--blue-dark);
}

/* When the checkbox is checked, add a purple background */
.task label input:checked~span {
    background-color: var(--purple);
    border-color: var(--purple);
}

.task label input:checked~label {
    background-color: var(--purple);
}

/* Create the checkmark/indicator (hidden when not checked) */
.task span:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.task label input:checked~span:after {
    display: block;
}

.inputChecked {
    text-decoration: line-through;
    color: var(--gray-300);
}

/* Style the checkmark/indicator */
.task label span:after {
    left: 4px;
    top: 2px;
    width: 3px;
    height: 6px;
    border: solid var(--gray-100);
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.task div {
    display: flex;
    padding: 0.3125rem;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.task div:hover {
    background-color: var(--gray-400);
    cursor: pointer;
}

.icon {
    -webkit-mask-size: cover;
    mask-size: cover;
    -webkit-mask-image: url('../assets/trash.svg');
    mask-image: url('../assets/trash.svg');
    background-color: var(--gray-300);
    width: 13px;
    height: 14px;
    transition: background-color 0.3s;
}

.task div:hover .icon {
    background-color: var(--red);
}